*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
}
#container{
    background: #111;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 0, 150, 0.3);
    width: 380px;
}
h1{
    text-align: center;
    color: #fff;
    margin-bottom: 5px;
}
p{
    text-align: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 5px;
}
input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #333;
    background: #1d1d1d;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
}
input::placeholder{
    color: #b0b0b0;
}
input:placeholder{
    color: #777;
}
button{
    width: 100%;
    padding: 15px;
    border: none;
    background:linear-gradient(to right,#ff0080,#ff8c00);
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    opacity: 0.9;
}
a{
    color: #ff3d8d;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#loginLink, #registerLink{
    text-align: center;
    margin-top: 10px;
}
#error{
    color: tomato;
    text-align: center;
    margin-top: 10px;
}